In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from konlpy.tag import Komoran

import os

from keybert import KeyBERT
import tqdm

c:\ProgramData\Anaconda3\envs\DINS\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data = pd.read_csv('./Data/SBS.csv')
data = data.iloc[4282:, :]

data.head(1)

,title,headline,date,link,content,category,site
4282,"슈팅 0개로 침묵한 손흥민, '북런던 더비' 5∼6점대 평점",잉글랜드 프리미어리그 '북런던 더비'에서 골 침묵을 지킨 손흥민이 현지 매체로부터 ...,2022.10.01,https://news.sbs.co.kr//news/endPage.do?news_i...,잉글랜드 프리미어리그 '북런던 더비'에서 골 침묵을 지킨 손흥민(30·토트넘)이...,스포츠,sbs

In [3]:
categories = ['sports', 'international', 'social', 'culture', 'economy', 'politics', 'entertainments']

len(categories)

7

In [4]:
stopwords = []

for category in categories:
    stopwords.append(pd.read_csv('./Data/stopwords_{0}.csv'.format(category)).noun.tolist())

len(stopwords)

7

In [5]:
nouns_cnt = []

for category in categories:
    nouns_cnt.append(pd.read_csv('./Data/SBS_nouns_cnt_{0}(excluded).csv'.format(category)).noun.tolist())

len(nouns_cnt)

7

In [6]:
dates = data.date.unique()

len(dates)
# 2022.10.01 ~ 2022.10.30

30

In [7]:
data_date = []

for date in dates:
    data_date.append(data.groupby('date').get_group(date))

In [8]:
categories_news = data.category.unique()

len(categories_news)

7

In [9]:
datas = []


for data in data_date:
    data_category = []
    for category in categories_news:
        try:
            data_category.append(data.groupby('category').get_group(category).content)
        except (KeyError):
            pass
    
    datas.append(data_category)

In [10]:
len(datas)

30

In [11]:
komoran = Komoran()

contents_nouns = []

In [12]:
datas_nouns = []

for data_date in datas:
    contents_nouns = []
    
    category_idx = 0
    
    for contents in data_date:
        content_nouns = ''
        
        for text in contents:
            poses = komoran.pos(text)
        
            for pos in poses:
                if len(pos[0]) < 3:
                    continue
                
                if pos[-1] == 'NNP':
                    if pos[0] not in stopwords[category_idx] and pos[0] in nouns_cnt[category_idx]:
                        content_nouns += pos[0] + ' '
        
        category_idx += 1
        
        contents_nouns.append(content_nouns)
        
    datas_nouns.append(contents_nouns)

In [13]:
len(datas_nouns)

30

In [23]:
datas_nouns[0]

['손흥민 토트넘 손흥민 토트넘 손흥민 손흥민 손흥민 토트넘 해리 케인 손흥민 손흥민 토트넘 토트넘 손흥민 토트넘 토트넘 손흥민 손흥민 손흥민 토트넘 토트넘 토트넘 카타르 월드컵 토트넘 손흥민 손흥민 토트넘 토트넘 토트넘 토트넘 손흥민 이해인 이해인 이해인 이해인 이해인 이해인 이해인 이해인 이해인 이해인 신한은행 차준환 차준환 차준환 나폴리 김민재 나폴리 김민재 에르난데스 김민재 김민재 나폴리 나폴리 김민재 나폴리 김민재 토리노 이청용 한국프로축구연맹 김수지 김수지 김수지 박민지 박민지 대한축구협회 한국프로축구연맹 김하성 김하성 김하성 김하성 김하성 김하성 최지만 휴스턴 최지만 최지만 토트넘 손흥민 손흥민 손흥민 손흥민 김채연 김채연 김채연 김채연 김채연 김채연 유소연 유소연 유소연 유소연 차준환 차준환 차준환 차준환 차준환 이해인 김민재 나폴리 나폴리 김민재 나폴리 토리노 김민재 에르난데스 나폴리 김민재 김민재 나폴리 김민재 김민재 나폴리 ',
 '석유수출국기구 러시아 오스트리아 코로나 사우디아라비아 러시아 코로나 러시아 우크라이나 중앙은행 사우디아라비아 러시아 우크라이나 러시아 러시아 우크라이나 러시아 러시아 우크라이나 도네츠크 루한스크 자포리자 헤르손 우크라이나 러시아 러시아 러시아 러시아 핵무기 우크라이나 우크라이나 우크라이나 우크라이나 안보리 러시아 러시아 중앙은행 러시아 바이든 러시아 우크라이나 우크라이나 자포리자 우크라이나 자포리자 자포리자 우크라이나 러시아 러시아 우크라이나 러시아 우크라이나 자포리자 우크라이나 우크라이나 자포리자 러시아 아프리카 러시아 우크라이나 러시아 벨라루스 러시아 이탈리아 러시아 러시아 러시아 러시아 우크라이나 러시아 러시아 우크라이나 안보리 안보리 브라질 우크라이나 도네츠크 러시아 러시아 우크라이나 안보리 이라크 노르웨이 테슬라 테슬라 테슬라 테슬라 테슬라 인도네시아 인도네시아 인도네시아 일본은행 멕시코 멕시코 멕시코 필리핀 러시아 드미트리 아프리카 아프리카 노벨 문학상 아프리카 프랑스 아프리카 프랑스 아프리카 아프리카 하루키 하루키 하루키 하루키 프랑스 노벨 문학상 하루키 하루키 하루키 하루키 하루키 하루키 하루키 노벨 문학상 노벨 문학상 하루키 하루키 하루키 하루키 하루키 하루키 하루키 러시아 우크라이나 핵무기 하루키 하루키 하루키 하루키 하루키 하루키 하루키 하루키 하루키 노벨 문학상 노벨 문학상 노벨 문학상 하루키 노벨 문학상 하루키 노벨 문학상 하루키 노벨 문학상 아프리카 하루키 하루키 하루키 하루키 하루키 하루키 하루키 하루키 노벨 문학상 스웨덴 하루키 노벨 문학상 하루키 하루키 하루키 하루키 하루키 하루키 하루키 하루키 하루키 하루키 영국 정부 우크라이나 러시아 바이든 유럽연합 우크라이나 러시아 우크라이나 러시아 러시아 중앙은행 러시아 러시아 러시아 바이든 러시아 바이든 우크라이나 북대서양조약기구 러시아 우크라이나 옌스 스톨텐베르그 우크라이나 러시아 러시아 안보리 러시아 러시아 우크라이나 러시아 러시아 핵무기 러시아 우크라이나 러시아 우크라이나 도네츠크 자포리자 헤르손 블라디미르 푸틴 러시아 러시아 러시아 핵무기 러시아 우크라이나 우크라이나 우크라이나 러시아 우크라이나 러시아 바이든 유럽연합 러시아 러시아 우크라이나 러시아 러시아 중앙은행 러시아 러시아 러시아 바이든 러시아 바이든 우크라이나 북대서양조약기구 러시아 우크라이나 옌스 스톨텐베르그 우크라이나 러시아 러시아 안보리 러시아 러시아 우크라이나 러시아 러시아 핵무기 러시아 우크라이나 러시아 우크라이나 도네츠크 자포리자 헤르손 블라디미르 푸틴 러시아 러시아 러시아 핵무기 러시아 우크라이나 우크라이나 우크라이나 러시아 블라디미르 푸틴 러시아 러시아 국방부 우크라이나 러시아 러시아 러시아 러시아 우크라이나 동원령 러시아 국방부 러시아 우크라이나 안보리 러시아 우크라이나 러시아 허리케인 허리케인 허리케인 허리케인 플로리다 허리케인 노스캐롤라이나 노스캐롤라이나 허리케인 허리케인 허리케인 조 바이든 바이든 플로리다 플로리다 프라이스 캐나다 반도체 반도체 반도체 조지아 현대차 윤석열 바이든 블라디미르 푸틴 러시아 우크라이나 러시아 우크라이나 러시아 우크라이나 도네츠크 루한스크 자포리자 헤르손 러시아 러시아 우크라이나 우크라이나 러시아 옌스 스톨텐베르그 러시아 우크라이나 우크라이나 우크라이나 러시아 러시아 영국 정부 러시아 중앙은행 러시아 영국 정부 러시아 이탈리아 이탈리아 러시아 항공모함 러시아 우크라이나 핵무기 우크라이나 러시아 항공모함 항공모함 캐나다 덴마크 프랑스 스페인 스웨덴 러시아 러시아 우크라이나 러시아 조 바이든 러시아 러시아 러시아 중앙은행 러시아 미하일 세르게이 쇼이구 러시아 러시아 아르메니아 러시아 러시아 우크라이나 러시아 벨라루스 바이든 우크라이나 러시아 러시아 우크라이나 우크라이나 러시아 우크라이나 바이든 우크라이나 러시아 우크라이나 루한스크 우크라이나 미하일 우크라이나 크렘린궁 우크라이나 하르키우 루한스크 우크라이나 하르키우 루한스크 루한스크 우크라이나 루한스크 러시아 루한스크 블라디미르 푸틴 크렘린궁 우크라이나 러시아 러시아 우크라이나 우크라이나 도네츠크 루한스크 자포리자 헤르손 러시아 블라디미르 푸틴 러시아 러시아 우크라이나 우크라이나 우크라이나 우크라이나 러시아 러시아 ',
 '두산건설 이재명 두산건설 두산그룹 이재명 이재명 차병원 설악산 설악산 코로나 코로나 국군의 날 국군의 날 국군의 날 윤석열 국군의 날 두산건설 이재명 두산건설 두산그룹 이재명 차병원 이동하 러시아 우크라이나 우크라이나 러시아 러시아 우크라이나 시진핑 반도체 코로나 코로나 코로나 코로나 코로나 코로나 코로나 코로나 지리산 두산건설 두산건설 두산건설 이재명 코로나 코로나 중앙재난안전대책본부 코로나 ',
 '미세먼지 초미세먼지 개천절 임은지 ',
 '무역수지 삼성전자 반도체 반도체 반도체 무역수지 세계 경제 추경호 무역수지 무역수지 에너지 에너지 에너지 무역수지 에너지 무역수지 무역수지 반도체 에너지 에너지 에너지 삼성전자 에너지 추경호 에너지 에너지 우크라이나 에너지 에너지 에너지 에너지 ',
 '윤석열 비핵화 국군의 날 계룡대 윤석열 비핵화 윤석열 비핵화 윤석열 이재명 민주당 국군의 날 국군의 날 합동참모본부 평안남도 로널드 레이건 항공모함 시진핑 핵실험 상임위원회 윤석열 국군의 날 계룡대 국군의 날 이재명 윤석열 정진석 비상대책위 민주당 민주당 더불어민주당 윤석열 민주당 민주당 윤석열 민주당 윤석열 윤석열 계룡대 국군의 날 핵실험 국군의 날 비핵화 문재인 계룡대 계룡대 해병대 김건희 이종섭 계룡대 러시아 우크라이나 러시아 우크라이나 우크라이나 러시아 우크라이나 러시아 우크라이나 윤석열 윤석열 윤석열 국군의 날 윤석열 국군의 날 합동참모본부 국군의 날 상임위원회 계룡대 국군의 날 윤석열 윤석열 안보리 상임위원회 윤석열 국군의 날 국군의 날 권영세 김규현 합동참모본부 윤석열 계룡대 국군의 날 국군의 날 비핵화 바이든 정상회담 로널드 레이건 국군의 날 상임위원회 윤석열 국군의 날 국군의 날 권영세 김규현 비무장지대 항공모함 잠수함 욱일기 잠수함 로널드 레이건 해상자위대 욱일기 잠수함 잠수함 잠수함 잠수함 핵실험 인플레이션 인플레이션 캐나다 민주당 윤석열 민주당 윤석열 윤석열 민주당 윤석열 민주당 윤석열 윤석열 민주당 민주당 이재명 이재명 민주당 바이든 민주당 민주당 민주당 민주당 주호영 민주당 이재명 윤석열 합동참모본부 잠수함 국군의 날 합동참모본부 국군의 날 계룡대 잠수함 항공모함 로널드 레이건 평안남도 윤석열 ',
 '박민영 박민영 박민영 박민영 류현진 류현진 구준엽 서희원 구준엽 서희원 구준엽 서희원 구준엽 서희원 서희원 구준엽 서희원 ']

In [14]:
model = KeyBERT('bert-base-nli-mean-tokens')

In [15]:
datas_keywords = []

for data_date in datas_nouns:
    contents_keywords = []
    
    for content_nouns in data_date:
        contents_keywords.append(model.extract_keywords(content_nouns, keyphrase_ngram_range=(1,1), top_n=20, use_mmr=True))
    
    datas_keywords.append(contents_keywords)

In [16]:
result_keywords = []

date_idx = 0
category_idx = 0

for data_keywords in datas_keywords:
    for keywords in data_keywords:
        for keyword in keywords:
            result_keywords.append((dates[date_idx], categories_news[category_idx], ) + keyword) # (date, category, keyword, importance)
    
        category_idx += 1
            
    date_idx += 1
    category_idx = 0

In [17]:
result = pd.DataFrame(result_keywords, columns=['date', 'category', 'keyword', 'importance'])

result

            date category   keyword  importance
0     2022.10.01      스포츠       손흥민      0.8441
1     2022.10.01      스포츠  한국프로축구연맹      0.8174
2     2022.10.01      스포츠      신한은행      0.8048
3     2022.10.01      스포츠       토트넘      0.7854
4     2022.10.01      스포츠       토리노      0.7779
...          ...      ...       ...         ...
3223  2022.10.30       정치       코로나      0.7142
3224  2022.10.30       정치     비상대책위      0.3600
3225  2022.10.30       연예       장윤정      0.8763
3226  2022.10.30       연예       이태원      0.8089
3227  2022.10.30       연예       코로나      0.7202

[3228 rows x 4 columns]

In [18]:
result.to_csv('./Data/keywords.csv', index=False)

In [19]:
import pymysql

In [20]:
keywords = pd.read_csv('./Data/keywords.csv')

keywords

            date category   keyword  importance
0     2022.10.01      스포츠       손흥민      0.8441
1     2022.10.01      스포츠  한국프로축구연맹      0.8174
2     2022.10.01      스포츠      신한은행      0.8048
3     2022.10.01      스포츠       토트넘      0.7854
4     2022.10.01      스포츠       토리노      0.7779
...          ...      ...       ...         ...
3223  2022.10.30       정치       코로나      0.7142
3224  2022.10.30       정치     비상대책위      0.3600
3225  2022.10.30       연예       장윤정      0.8763
3226  2022.10.30       연예       이태원      0.8089
3227  2022.10.30       연예       코로나      0.7202

[3228 rows x 4 columns]

In [21]:
sql_insert = 'INSERT INTO keywords (date, category, keyword, importance) VALUES (%s, %s, %s, %s)'

In [22]:
conn = pymysql.connect(host='localhost', user='root', password='1234', db='dins', charset='utf8')
cursor = conn.cursor()


for index, row in keywords.iterrows():
    cursor.execute(sql_insert, (row.date, row.category, row.keyword, row.importance))

conn.commit()
conn.close()

In [106]:
# keywords = model.extract_keywords(contents_nouns, keyphrase_ngram_range=(1,1), top_n=15, use_mmr=True)

# keywords