In [2]:
import pymysql
import pandas as pd

In [3]:
news = pd.read_csv('../Data/SBS.csv')

In [6]:
news.loc[news.date.str.contains('2022.09.13')] # 78237

,title,headline,date,news_link,content,category,site
78237,수원서 달리던 화물차에서 화재…인명 피해 없어,오늘 오후 5시 10분쯤 서울 영통구 매탄동의 한 사거리를 달리던 1톤 화물차에서 ...,2022.09.13 23:50,https://news.sbs.co.kr//news/endPage.do?news_i...,오늘(13일) 오후 5시 10분쯤 서울 영통구 매탄동의 한 사거리를 달리던 1톤...,사회,sbs
78238,"이란 남부 원유시설서 화재…업체 대표 ""정체불명 세력이 방화""",이란 남부 원유시설에서 불이 나 한때 생산이 중단됐다고 현지 언론이 13일 보도했습...,2022.09.13 23:48,https://news.sbs.co.kr//news/endPage.do?news_i...,이란 남부 원유시설에서 불이 나 한때 생산이 중단됐다고 현지 언론이 13일(현지...,국제,sbs
78239,'누벨바그 거장' 고다르 91세로 별세,고다르는 이날 스위스 로잔 인근의 소도시 롤레의 자택에서 영화감독인 배우자 안느 마...,2022.09.13 23:47,https://news.sbs.co.kr//news/endPage.do?news_i...,▲ 1966년 베를린 국제 영화제에서 프랑스 영화 감독 장뤼크 고다르 누벨바그 사조...,국제,sbs
78240,"하르키우 대패한 러 ""동원령 고려 안 해"" 재확인…내부 여론은 분열",러시아가 최근 우크라이나 동북부 하르키우주에서의 대패에도 불구하고 동원령은 없을 것...,2022.09.13 23:39,https://news.sbs.co.kr//news/endPage.do?news_i...,러시아가 최근 우크라이나 동북부 하르키우주에서의 대패에도 불구하고 동원령은 없을...,국제,sbs
78241,"중국, 또 타이완 주변 무력시위…""군용기 2대 타이완해협 중간선 진입""",타이완 국방부는 홈페이지를 통해 이날 오후 5시까지 타이완 주변에서 중국군 소속 군...,2022.09.13 23:37,https://news.sbs.co.kr//news/endPage.do?news_i...,▲ 중국 전투기 J-10 중국이 오늘(13일)에도 군용기와 군함을 동원해 타이완 주...,국제,sbs
...,...,...,...,...,...,...,...
78478,[포토] 한가위 지나 찾아온 가을의 향기…'주홍빛'으로 물들다,"대한민국 뉴스의 기준, 중심을 지키는 저널리즘 SBS뉴스 - 시청자의 눈높이에 맞는...",2022.09.13 04:17,https://news.sbs.co.kr//news/endPage.do?news_i...,이미지 확대하기이미지 확대하기이미지 확대하기이미지 확대하기추석 연휴 마지막 날인 1...,사회,sbs
78479,"[포토] 추석 연휴 끝, 이젠 일상으로…귀경길 '북적북적'","대한민국 뉴스의 기준, 중심을 지키는 저널리즘 SBS뉴스 - 시청자의 눈높이에 맞는...",2022.09.13 03:20,https://news.sbs.co.kr//news/endPage.do?news_i...,"이미지 확대하기이미지 확대하기추석 연휴 마지막 날인 12일, 귀경길에 오른 사람들과...",사회,sbs
78480,서울 견지동 식당에서 화재…인명피해 없어,어젯밤 9시 반쯤 서울 종로구 견지동의 한 식당 주방에서 불이 났습니다. 인명피해 ...,2022.09.13 02:35,https://news.sbs.co.kr//news/endPage.do?news_i...,어젯(12일)밤 9시 반쯤 서울 종로구 견지동의 한 식당 주방에서 불이 났습니다...,사회,sbs
78481,엘리자베스 여왕 에든버러서 추도 예배…여왕의 관 일반에 처음 공개,스코틀랜드 밸모럴 성을 떠나 에든버러에 도착한 고 엘리자베스 2세 영국 여왕의 관이...,2022.09.13 01:19,https://news.sbs.co.kr//news/endPage.do?news_i...,스코틀랜드 밸모럴 성을 떠나 에든버러에 도착한 고 엘리자베스 2세 영국 여왕의 ...,국제,sbs
78482,"미국, 바이오 분야도 '국내 생산' 강조…""지나친 해외 의존"" 중국 견제",미국 정부가 바이오 의약품 등 생명공학 분야에서도 미국 내 연구와 제조를 강조하고 ...,2022.09.13 00:38,https://news.sbs.co.kr//news/endPage.do?news_i...,미국 정부가 바이오 의약품 등 생명공학 분야에서도 미국 내 연구와 제조를 강조하...,국제,sbs

In [7]:
# news.loc[news.date.str.contains('2022.09.19')]

In [ ]:
# news_sep = news.iloc[79573:]
# len(news_sep)

252

In [12]:
news_sep = news.iloc[78237:]
len(news_sep)

1588

In [10]:
sql_insert = 'INSERT INTO news (title, headline, date, link, content, category, site) VALUES (%s, %s, %s, %s, %s, %s, %s)'

In [13]:
conn = pymysql.connect(host='localhost', user='root', password='1234', db='dins', charset='utf8')
cursor = conn.cursor()


for index, row in news_sep.iterrows():
    cursor.execute(sql_insert, (row.title, row.headline, row.date, row.link, row.content, row.category, row.site))

conn.commit()
conn.close()

In [ ]:
# i = 0
# for index, row in news.iterrows():
#     if i == 1:
#         break
#     print(row.title, row.headline, row.date, row.news_link, row.content, row.category, row.site)
#     i += 1

BTS "웰컴 제네레이션…변화에 겁먹지 않고 새로운 길로" 미국 뉴욕을 찾은 방탄소년단, BTS가 "지금 청년들은 변화에 겁먹기보단 '웰컴'이라고 말하며 앞으로 걸어나가는 세대"라며 코로나19로 어려운 상황에서도 긍정적인 에너지로 일상을 채워나가자는 메시지를 냈습니다. 2021.09.20 22:09 https://news.sbs.co.kr//news/endPage.do?news_id=N1006471883   미국 뉴욕을 찾은 방탄소년단, BTS가 "지금 청년들은 변화에 겁먹기보단 '웰컴'이라고 말하며 앞으로 걸어나가는 세대"라며 코로나19로 어려운 상황에서도 긍정적인 에너지로 일상을 채워나가자는 메시지를 냈습니다.   BTS는 뉴욕 유엔 총회장에서 열린 지속가능발전목표 고위급 회의, SDG 모멘트 행사에 '미래세대와 문화를 위한 대통령 특별사절'이자 세계 청년들 대표 자격으로 초청돼 7명의 멤버가 한 명씩 돌아가며 발언하는 방식으로 연설을 했습니다.   진은 "지난 2년 저도 당혹스럽고 막막한 기분이 들었다"면서도 "그러나 '렛츠 리브 온! 지금을 잘 살아가자!'고 외치는 분들이 있었다"고 말했습니다.   RM은 "지금의 10대, 20대에 대해 길을 잃게 됐단 의미에서 '코로나 로스트 제너레이션'으로 부르기도 한다고 들었다"면서도 "그러나 어른들 눈에 보이지 않는다고 해서 길을 잃었다고 말할 수는 없을 것"이라고 말했습니다.   뷔도 "우리의 미래에 대해 너무 어둡게만 생각하진 않았으면 좋겠다"고 했고, 지민도 공부를 하거나 운동을 하는 청년들의 사진을 보며 "길을 잃었다기보다 새로 용기를 내고 도전 중인 모습으로 보인다"고 전했습니다.   진은 "그런 의미에서 '로스트 제너레이션'이 아니라 '웰컴 제너레이션'이라는 이름이 더 어울리는 것 같다. 변화에 겁먹기보단 '웰컴'이라고 말하면서 앞으로 걸어 나가는 세대"라고 강조했습니다.   그러자 RM은 "가능성과 희망을 믿으면 예상 밖의 상황에서도 길을 잃는 게 아니라 새로운 길을 발견할 것"이라며 "새로 시작되는 세상에서 서로에게 '웰컴'이라고 말해줬으면 좋겠다"고 화답했습니다.   백신과 관련해서는 제이홉이 "저희 7명 모두 백신을 맞았다"고 했고, RM은 "백신 접종은 저희를 기다리는 팬들을 만나기 위한 티켓"이라며 "우리는 우리가 지금 할 수 있는 것들을 하는 중"이라고 말했습니다.   뷔는 "다시 얼굴을 마주할 날도 멀지 않았다"며 "그때까지 모두 긍정적인 에너지로 일상을 채워가자"고 격려했습니다.   국제 kbs

In [ ]:
sql_zero = "ALTER TABLE news AUTO_INCREMENT=0;"

In [ ]:
conn = pymysql.connect(host='localhost', user='root', password='1234', db='dins', charset='utf8')
cursor = conn.cursor()

cursor.execute(sql_zero)

conn.commit()
conn.close()

In [ ]:
conn.commit()
conn.close()

InterfaceError: (0, '')