In [1]:
import numpy as np
import pandas as pd

from konlpy.tag import Komoran

from collections import Counter

In [2]:
# # news concat

# news1 = pd.read_csv('./Data/SBS1.csv')
# news2 = pd.read_csv('./Data/SBS2.csv')

# print(len(news1), len(news2)) # 79825 9247


# news = pd.concat([news1, news2])

# len(news) # 89072


# news = news.drop_duplicates() # 89071

# len(news)


# news.to_csv('./Data/SBS.csv', index=False)

# news_data = pd.read_csv('./Data/SBS.csv')

# news_data = news_data.iloc[78237:]

# news_data.to_csv('./Data/SBS.csv', index=False)

In [2]:
news_data = pd.read_csv('../Data/SBS.csv')

# news_data.loc[news_data.date.str.contains('2022.10.01')] # 4282

news_data = news_data.iloc[4282:, :]

news = news_data.content

len(news)

6552

In [3]:
komoran = Komoran()

contents_nouns = []

In [4]:
for content in news:
    poses = komoran.pos(content)
    
    for pos in poses:
        if len(pos[0]) < 3:
            continue
        
        if pos[-1] == 'NNP':
            contents_nouns.append(pos[0])

In [5]:
cnt = Counter(contents_nouns)
nouns_cnt = cnt.most_common(len(cnt))

len(nouns_cnt)

11366

In [8]:
sum = 0

for noun_cnt in nouns_cnt:
    sum += noun_cnt[-1]

print(sum / len(nouns_cnt))

10.462607777582264

In [6]:
df = pd.DataFrame(nouns_cnt, columns=['noun', 'cnt'])

df.head()

    noun   cnt
0    러시아  2419
1    이미지  2131
2    민주당  2054
3  우크라이나  1955
4   연합뉴스  1892

In [7]:
df.to_csv('../Data/SBS_nouns_cnt(included).csv', index=False)